.dashboard {
    width: 100%;
    min-height: 100vh;
    background-color: $light-grey;
    padding-top: 160px;

    &.relationship {
        padding-top: 0px;
        

        .dashboard-container{
            border-radius: 0 0 0 0;
        }
    }

    h1 {
        color: $black;
    }

    h3 {
        letter-spacing: -.05rem;
        color: $light-grey;
        font-size: 1rem;
    }

    .user-photo {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        margin-top: -150px;
    }

    .user-info-header {
        margin-top: 30px;
        margin-left: 1.5rem;

        .user-name {
            font-size: 3rem;
        }

        .user-community {
            color: $darker-grey;

            &.mentor {
                background-color: $green;
                padding: 3px 10px;
                border-radius: 7px;
                margin-top: -3px;
                color: $white;
            }

            &.mentee {
                background-color: $tan;
                padding: 3px 10px;
                border-radius: 7px;
                margin-top: -3px;
                color: $white;
            }
        }
    }

    .break {
        margin-top: -20px;
    }

    .dashboard-container {
        background-color: white;
        padding-left: 60px;
        padding-right: 60px;
        min-height: 100vh;
        width: calc(100% - 120px);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        border-radius: 20px 20px 0 0;
    }

    .searchbar {
        background-color: $white;
        padding-bottom: 20px;
        input {
            width: calc(100% - 240px);
        }
    }
}

.relationship-container {
    .black {
        background-color: $black;
    }

    .relationship-object {
        h1 {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        color: $black;
    }
}
