@import './variables.scss';
@import './deco.scss';
@import './navbar.scss';
@import './positioning.scss';
@import './spacing.scss';
@import './home.scss';
@import './signup.scss';


html {
    font-family: $font;
    background-color: $green;
    color: $light-grey;
}

body {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    letter-spacing: -.035rem;
    margin: 0;
}

a {
    color: $light-grey;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}