.searchbar {
    p {
        color: $green;
        margin-left: 10px;
    }
    input {
        width: 100%;
        border: 1px solid $darker-grey;
        background-color: transparent;
        color: $black;
    }
}

.tag {
    background-color: $green;
    display: block;
    padding: 5px 10px;
    border-radius: 7px;

    p {
        color: $white;
    }
}

.footer {
    width: 100%;
    height: 40px;
}

.create-relationship-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    &.hidden {
        display: none;
    }

    &-container{
        background-color: $light-grey;
        width: 600px;
        border-radius: 20px;
        padding: 20px 20px;
        color: $black;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }
}

.generic-input {
    h3, p {
        margin-left: 10px;
        margin-bottom: 3px;
    }

    input, textarea {
        width: calc(100% - 20px);
        border-radius: 7px;
        border: 1px solid $black;
        background-color: transparent;
        color: $black;
    }

    textarea {
        width: calc(100% - 25px);
        max-width: calc(100% - 25px);
        min-width: calc(100% - 25px);
        height: 50px;
        font-family: $font;
        padding: 10px;
    }
    
    select {
        font-family: $font;
        font-weight: bold;
        width: 100%;
        padding: 10px;
        border: 1px solid $black;
        border-radius: 7px;
    }
}