@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

$font: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;

// Colors
$green: #355D57;
$white: #FFFFFF;
$light-grey: #F5F5F5;
$dark-grey: #D9D9D9;
$darker-grey: #aaaaaa;
$cream: #FFFCE9;
$black: #262626;

$transition: all .3s;
$letter-spacing: -5.5%;
$border-radius: 7px;
$signup-width: 200px;

$hightWithNav: calc(100vh - 71px);